
<html>
<head>
    Task List
</head>
<body>
<form method="post" action="/add">
    <input type="text" name="TaskName">
    <input type="text" name="DueDate">
    <input type="submit" value="Add Task">
</form>
<table border="5">
  <tr>
      <th>
          Task name
      </th>
      <th>
          Is done
      </th>
  </tr>
  {% for task in TaskList: %}
    <tr>
         <td>
             {{ task[0] }}
         </td>
         <td>
             {{ task[1] }}
         </td>
    </tr>
    {% endfor %}
    </table>
</body>

</html>